<%- include('../partials/header') %>
<%- include('../partials/navbar', { user: user }) %>
<div class="container mt-4">
  <h2>Academic Calendar</h2>
  
  <!-- Add Event Button -->
  <a href="/teacher/calendar/add" class="btn btn-success mb-3">Add Event</a>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% events.forEach(function(e) { %>
        <tr>
          <td><%= e.title %></td>
          <td>
            <% if (e.eventDate && !isNaN(e.eventDate.getTime())) { %>
              <%= e.eventDate.toDateString() %>  <!-- Display formatted date -->
            <% } else { %>
              N/A
            <% } %>
          </td>
          <td><%= e.description %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>
