<%- include('../partials/header') %>
<%- include('../partials/navbar', { user: user }) %>
<div class="container mt-4">
  <h2>Finance Records</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>User</th>
        <th>Amount</th>
        <th>Method</th>
        <th>Description</th>
        <th>Date</th>
        <th>Receipt</th>
      </tr>
    </thead>
    <tbody>
      <% payments.forEach(function(p) { %>
        <tr>
          <td><%= p.userId.name %></td>
          <td><%= p.amount %></td>
          <td><%= p.method %></td>
          <td><%= p.description %></td>
          <td><%= p.date.toDateString() %></td>
          <td>
            <% if(p.receiptUrl) { %>
              <a href="<%= p.receiptUrl %>" target="_blank">View</a>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>
