<%- include('../partials/header') %>
<%- include('../partials/navbar', { user: user }) %>
<div class="container mt-4">
  <h2>Manage Users</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(u) { %>
        <tr>
          <td><%= u.name %></td>
          <td><%= u.email %></td>
          <td><%= u.role %></td>
          <td><%= u.department %></td>
          <td>
            <a href="/admin/editUser/<%= u.id %>" class="btn btn-sm btn-warning">Edit</a>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>
